<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Game of Life TS</title>
  </head>
  <body>
    <div id="game-of-life-dashboard" width="600"></div>
    <canvas id="game-of-life-canvas" width="600" height="600" style="border: 1px"></canvas>
  </body>
</html>
